@use "../../styles/variables/variables.scss" as *;
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $purple;
  margin: 0px 0 35px 0;
}

.footer a {
  padding-right: 32px;
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 0px 0 22px 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    #no-right-padding {
      padding-right: 0px;
    }
  }
}
