@use "components/footer";
@use "components/navbar";
@use "components/pages/projects";
@use "components/pages/skills";
@use "components/pages/contacts";
@use "components/sidebars/sidebars";
@use "../styles/variables/variables.scss" as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $mainColor;
  font-family: "Aldrich", sans-serif;
  text-align: left;
  color: $purple;
  position: absolute;
  display: flex;
}

.main {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  left: 22%;
  position: relative;
  margin: 0 35px;
}

h2 {
  font-size: 48px;
  margin: 0 0 62px 0;
}

p {
  text-align: justify;
  padding-left: 5px;
}
::-webkit-scrollbar {
  display: none;
}

.scrollbox {
  height: 400px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .right {
    display: none;
  }
  .main {
    width: 100%;
    margin: 0;
    padding: 0 8% 0 6%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $mainTransparency;
    z-index: 2;
  }
  .navbar-title {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 42px;
    margin: 0 0 35px 0;
  }
  p{
    font-size: 16px;
    font-weight: bold;
  }
  .scrollbox{
    height: 550px;
  }
  .right {
    display: none;
  }
  .page {
    height: 75%;
  }
}