@use "components/footer";
@use "components/navbar";
@use "components/pages/projects";
@use "components/pages/skills";
@use "components/pages/contacts";
@use "components/sidebars/sidebars";
@use "../styles/variables/variables.scss" as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $mainColor;
  font-family: "Aldrich", sans-serif;
  text-align: left;
  color: $purple;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  width: 44%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
}

.page {
  width: 100%;
  height: 75vh;
  margin: 13vh 0;
  position: absolute;
  .scroll {
    width: 100%;
    position: relative;
    padding: 33px 0;
    svg {
      margin-left: 38%;
      position: absolute;
    }
  }
}

h2 {
  font-size: 2rem;
  margin: 2% 0 6% 0;
  text-align: center;
}

p {
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
}
::-webkit-scrollbar {
  display: none;
}

.scrollbox {
  max-height: 72vh;
  position: relative;
  transition: scroll ease-in-out;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .main {
    width: 100%;
    background-color: $mainTransparency;
    margin: 0;
    padding: 0 28vw;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
  }
  .page {
    width: 100vw;
  }
}

@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
  .main {
    width: 100%;
    margin: 0;
    padding: 0 25px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: $mainTransparency;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 42px;
    margin: 0 0 35px 0;
    text-align: left;
  }
  p {
    font-size: 16px;
    font-weight: bold;
  }
  .scrollbox {
    height: 550px;
    width: 100vw;
    margin: 12px;
  }
  .right {
    display: none;
  }
  .page {
    height: 75%;
  }
}
