@import "../../../styles/variables/variables.scss";
.projects.page {
  h2 {
    margin-top: 57px;
  }
  .scrollbox {
    min-height: 625px;
    padding-right: 415px;
    width: 152%;
    transition: scroll ease-in-out;
  }
  .scroll{
    width: 100%;
  }
  svg {
    margin-left: 38%;
    // margin-top: 28px;
    position: absolute;
    height: 90px;
  }
  #projects {
    display: flex;
    flex-direction: column;
    gap: 65px;
    .project-card {
      padding-bottom: 28px;
      border-bottom: 1px solid $purple;
      display: flex;
      flex-direction: row;
      margin-bottom: -40px;
      .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 23px;
        h3 {
          font-size: 26px;
          padding: 0;
          color: $contrast;
        }
        p {
          padding: 0 30px 0 0;
          text-align: left;
        }
        #banner {
          font-size: 24px;
          color: $contrast;
        }
      }

      img {
        object-fit: cover;
        width: 50%;
        height: 220px;
        object-position: top;
      }
    }
  }
}
