@use "../../../styles/variables/variables.scss" as *;
.skills {
  h2 {
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
    width: inherit;
    color: $purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
    justify-content: center;
  }

  li {
    list-style: none;
  }
}

@media screen and (max-width: 600px) {
  .skills {
    ul {
      height: inherit;
      gap: 4%;
      align-content: flex-start;
    }
    li img {
      width: 14vw;
    }
  }
}
