@use "../../../styles/variables/variables.scss" as *;
.skills {
  ul {
    margin: 0;
    padding: 0;
    width: inherit;
    font-size: 18px;
    color: $purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
    justify-content: space-between;
  }

  li {
    list-style: none;
  }
}

@media screen and (max-width: 600px) {
  .skills {
    ul {
      height: inherit;
      gap: 40px;
      align-content: flex-start;
    }
    li img {
      width: 14vw;
    }
  }
}
