.skills {
  ul {
    margin: 0;
    padding: 0;
    width: inherit;
    font-size: 18px;
    color: #38256a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
    justify-content: flex-start;
  }

  li {
    list-style: none;
  }
}
